<div class="block">
	<div class="title">添加时间</div>
	<div class="internet-options more auto">
		<ul class="internet-options-ul" style="float: left;">
			<li class="single" @click="ScreenBtimeEmptyClick" :class="{'active':!ScreenValue.btime.value&&!ScreenValue.btime.datelinepicker.length}">
				<span>不限</span>
			</li>
		</ul>
		<ul class="internet-options-ul">
			<li class="single" @click="ScreenBtimeClick('今日')" :class="{'active':ScreenValue.btime.value=='今日'}">
				<span>今日</span>
			</li>
			<li class="single" @click="ScreenBtimeClick('昨日')" :class="{'active':ScreenValue.btime.value=='昨日'}">
				<span>昨日</span>
			</li>
			<li class="single" @click="ScreenBtimeClick('最近7日')" :class="{'active':ScreenValue.btime.value=='最近7日'}">
				<span>最近7日</span>
			</li>
			<li class="single" @click="ScreenBtimeClick('最近30日')" :class="{'active':ScreenValue.btime.value=='最近30日'}">
				<span>最近30日</span>
			</li>
			<li class="single" @click="ScreenBtimeClick('最近90日')" :class="{'active':ScreenValue.btime.value=='最近90日'}">
				<span>最近90日</span>
			</li>
			<li class="single" @click="ScreenBtimeClick('最近365日')" :class="{'active':ScreenValue.btime.value=='最近365日'}">
				<span>最近365日</span>
			</li>
			<li class="single" @click="ScreenValue.btime.custom=!ScreenValue.btime.custom" :class="{'active':ScreenValue.btime.custom}">
				<span>自定义范围</span>
			</li>
			<li class="single notborder notpadding" v-if="ScreenValue.btime.custom">
				<el-date-picker
					class="dateline max-width" 
					v-model="ScreenValue.btime.datelinepicker" 
					@change="ScreenBtimePicker"
					size="small" 
					:clearable="false" 
					value-format="yyyy-MM-dd"
					type="daterange" 
					range-separator="至" 
					start-placeholder="开始日期" 
					end-placeholder="结束日期">
				</el-date-picker>
			</li>
		</ul>
	</div>
</div>