.addcollection-dialog .el-checkbox{
	width: 100%;
	overflow: hidden;
	height: 50px;
	margin: 0;
	display: block;
}
.addcollection-dialog .el-checkbox .el-checkbox__input{
    float: right;
    line-height: 50px;
}
.addcollection-dialog .el-checkbox .el-checkbox__label{
    float: left;
    line-height: 50px;
    padding-left: 0;
}
.addcollection-dialog .el-checkbox .el-checkbox__label .img-circle{
    width: 32px;
    height: 32px;
    margin-top: 9px;
    vertical-align: top;
    margin-right: 6px;
}
.addcollection-dialog .el-checkbox .el-checkbox__label .Topcarousel{
	width: 32px;
	height: 32px;
	margin-top: 9px;
	margin-right: 6px;
	color: #FFFFFF;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
}