.el-aside {
	background-color: var(--bg-header);
	border-right: 1px solid var(--border-color-base);
}

.maxWidth {
	width: 370px;
}

#center_title {
	line-height: 55px;
	border-bottom: 1px solid var(--border-color-base);
	padding: 0 25px;
	color: var(--content-textHover);
	font-size: 16px;
}

.el-form-item__label,
.el-checkbox,
.el-radio {
	color: var(--content-text);
}
.el-checkbox,
.el-radio {
	margin-right: 16px;
	margin-left: 0 !important;
}


.avatar-uploader .el-upload {
	border: 1px dashed var(--border-color-base);
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar-uploader .el-upload:hover {
	border-color:var(--color-primary);
}

.avatar-uploader .avatar-uploader-icon {
    font-size: 16px;
    color: var(--content-text);
}
.avatar-uploader .el-image{
	height: 150px;
	width: 100%;
	line-height: 150px;
}
.avatar-uploader .el-image img{
	max-width: 100%;
	max-height: 150px;
	width: auto;
	height: auto;
	vertical-align: middle;
}
.avatar-uploader .el-progress{
	position: absolute;
	left: 0px;
	top: 0px;
	background: var(--bg-content);
	z-index: 100;
}
.avatar {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}

.register-bg-bt{
	background-color: transparent;
	color: var(--content-text);
	margin-left: 6px;
}

.el-checkbox,.el-radio{
	min-width: 120px;
	margin-bottom: 8px;
}
.theme-block{
	margin-right: 12px;
	float: left;
}
.theme-block .bg{
	height: 40px;
	width: 40px;
	border: 1px solid var(--border-color-base);
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.theme-block .bg.active{
	border: 1px solid var(--color-primary);
}

.theme-block .bg .triangle{
	position: absolute;
    right: 0px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-bottom: 30px solid var(--color-primary);
    border-left: 30px solid transparent;
	display: none;
}
.theme-block .bg .icon{
	color: #FFFFFF;
	font-size: 14px;
	position: absolute;
	bottom: 2px;
	right: 2px;
	display: none;
}
.theme-block .bg.active .triangle,
.theme-block .bg.active .icon{
	display: block;
}