#imagelayout .collection-box{
	padding: 0 16px;
}
#imagelayout .collection-box .jurisdiction-box{
	text-align: center;
	padding-bottom: 16px;
}
#imagelayout .collection-box .jurisdiction-box .jurisdiction-ul{
	display: inline-block;
}
#imagelayout .collection-box .jurisdiction-box .jurisdiction-ul .jurisdiction-item{
	display: inline-block;
	margin-left: -16px;
}
#imagelayout .collection-box .jurisdiction-box .jurisdiction-ul .jurisdiction-item:first-child{
	margin: 0;
}
#imagelayout .collection-box .jurisdiction-box .jurisdiction-ul .jurisdiction-item .Topcarousel{
	width: 48px;
	height: 48px;
	border: 1px solid var(--border-color-base);
	line-height: 48px;
}
#imagelayout .collection-box .jurisdiction-box .jurisdiction-ul .jurisdiction-item .add{
	width: 48px;
	height: 48px;
	border: 1px solid var(--border-color-base);
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	background: var(--bg-poper);
	cursor: pointer;
	font-size: 20px;
	font-weight: 700;
	color: var(--header-text);
}
#imagelayout .collection-box .jurisdiction-box .jurisdiction-ul .jurisdiction-item .add:hover{
	background: var(--bg-poperHover);
}
#imagelayout .collection-box .file-box .file-message{
	overflow: hidden;
	padding-bottom: 16px;
	color: var(--content-text);
	font-size: 16px;
}
#imagelayout .collection-box .file-box .file-message .left{
	float: left;
	padding: 8px 0;
}
#imagelayout .collection-box .file-box .file-message .right{
	float: right;
	cursor: pointer;
	border-radius: 3px;
	padding: 8px;
}
#imagelayout .collection-box .file-box .file-message .right:hover{
	color: var(--header-active);
	background: var(--bg-poperHover);
}
#imagelayout .collection-box .file-box .file-list{
	margin-left: -16px;
	padding-bottom: 16px;
}
#imagelayout .collection-box .file-box .file-list .item{
	margin-left: 16px;
	width: 320px;
	display: inline-block;
	border-radius: 3px;
	margin-bottom: 16px;
	overflow: hidden;
	
}
#imagelayout .collection-box .file-box .file-list .item .img{
	overflow: hidden;
}
#imagelayout .collection-box .file-box .file-list .item .block{
	width: 107px;
	height: 141px;
	border-left: 1px solid var(--border-color-base);
	float: left;
	background: var(--bg-poper);
}
#imagelayout .collection-box .file-box .file-list .item .block:first-child{
	width: 106px;
	border: 0;
}
#imagelayout .collection-box .file-box .file-list .item .text{
	font-size: 18px;
	color: var(--content-text);
	line-height: 27px;
	padding: 8px;
}