.el-header.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.el-header .header-wrapper{
	padding: 0 13px;
	background: var(--bg-content);
}
.el-header .header-wrapper.shadow{
	box-shadow:0 2px 10px 0 rgba(0,0,0,0.1);
}
.left-scroll{
	padding: 16px 0px;
	padding-bottom: 52px;
	height: 100%;
}
.left-scroll .el-scrollbar__wrap{
	overflow-x: hidden;
}
.left-scroll .el-scrollbar__wrap .el-scrollbar__view{
	min-height: 100%;
}
.left-scroll .TreeBackloading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: var(--bg-header);
}
.left-tree .el-tree-node__content{
	height: 45px;
}
.left-tree .el-tree-node__content .el-tree-node__label{
	font-size: 16px;
}
.left-tree .el-tree-node__content .custom-tree-node{
	width: calc(100% - 24px);
	width: -moz-calc(100% - 24px);
	width: -webkit-calc(100% - 24px);
	padding-right: 16px;
	display: flex;
	overflow: hidden;
}
.left-tree .el-tree-node__content .custom-tree-node .name{
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-width: 80px;
}
.left-tree .el-tree-node__content .custom-tree-node .num{
	color: var(--content-textMessage);
	font-size: 14px;
}
.left-tree .el-tree-node__content .tree-node-color.custom-tree-node .name,
.left-tree .el-tree-node__content .tree-node-color.custom-tree-node .num{
	color: var(--leftTreeColor);
}
.el-aside .classify-search{
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
	z-index: 10;
}
.el-aside .classify-search .el-input__inner{
	border-width: 0;
    border-top-width: 1px;
    border-radius: 0;	
}
.el-empty{
	padding: 0;
	width: 160px;
	height: 200px;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
#container_scroll{
	height: 100%;
	width: 100%;
}
#container_scroll .el-scrollbar__wrap .el-scrollbar__view{
	min-height: 100%;
	width: 100%;
}
#container_scroll .el-scrollbar__wrap .el-main{
	height: 100%;
}
#container_scroll .el-scrollbar__bar.is-vertical{
	z-index: 10000;
}
.container2 .el-header{
	padding: 0;
	z-index: 10;
	border-bottom: 1px solid var(--border-color-base);
}

#top_header .header-content .h-center .result-section {
	width: 100%;
	height: 40px;
	position: relative;
	display: flex;
	align-items: center;
}
.container2 #top_header .header-content .h-center .result-section{
	height: 70px;
}
#top_header .header-content .h-center .result-section .input-box {
	flex: 1;
	position: relative;
	color: var(--header-text);
}

#top_header .header-content .h-center .result-section .icon-search {
    position: absolute;
    left: 0px;
    top: 0;
    height: 0px;
    font-size: 16px;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    line-height: 0;
}
.container2 #top_header .header-content .h-center .result-section .icon-search{
	left: 1px;
	top: 1px;
}
#top_header .header-content .h-center .result-section .el-input__inner {
	border-radius: 0 25px 25px 0;
	color: var(--header-text);
	border: 0;
	height: 37px;
}
.container2 #top_header .header-content .h-center .result-section .el-input__inner {
	height: 68px;
}
#top_header .header-content .h-center .result-section .InputKeyword{
	height: 40px;
	border: 1px solid var(--border-color-base);
	border-radius: 0px 20px 20px 0px;
	position: relative;
	background: var(--bg-input);
	cursor: text;
}
.container2 #top_header .header-content .h-center .result-section .InputKeyword{
	height: 70px;
	border: 0;
	background-color: transparent;
}
.container2 #top_header .header-content .h-center .result-section .InputKeyword:hover{
	border: 0;
}
.container3 #top_header .header-content .h-center .result-section .InputKeyword{
	border-radius: 0px 8px 8px 0px;
}
#top_header .header-content .h-center .result-section .InputKeyword.notradius{
	border-radius: 0px;
}
#top_header .header-content .h-center .result-section .radius .InputKeyword{
	border-radius: 20px;
}
.container3 #top_header .header-content .h-center .result-section .radius .InputKeyword{
	border-radius: 8px;
}
#top_header .header-content .h-center .result-section .InputKeyword.focus{
	border: 0;
}
#top_header .header-content .h-center .result-section .InputKeyword:hover{
	border-color: var(--color-primary);
}

#top_header .header-content .h-center .result-section .InputKeyword .Kscreen{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .txtScroll-box{
	position: absolute;
	left: 30px;
	top: 0px;
	width: calc(100% - 65px);
	height: 100%;
	overflow: hidden;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .icon-box-font{
	color: var(--tip-color);
    font-size: 14px;
    position: absolute;
    left: 31px;
    top: 1px;
    width: 30px;
    line-height: 38px;
}
.container2 #top_header .header-content .h-center .result-section .InputKeyword .Kscreen .icon-box-font{
	line-height: 70px;
	padding-left: 1px;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen.ShowVal .icon-box-font{
	display: none;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen.ShowScroll .txtScroll-box{
	left: 55px;
	top: 0px;
	width: calc(100% - 115px);
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .txtScroll{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	white-space: nowrap;
	line-height: 38px;
	display: flex;
	align-items: center;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .txtScroll .list{
	display: inline-block;
	margin-right: 8px;
	font-size: 12px;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .txtScroll .list.txtScrent{
	background: var(--header-textHover);
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	border-radius: 4px;
	position: relative;
	padding-right: 18px;
	max-width: 160px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .txtScroll .list.txtKeyword{
	font-size: 14px;
	padding-left: 1px;
	padding-top: 1px;
	font-family: "Arial";
}
.container2 #top_header .header-content .h-center .result-section .InputKeyword .Kscreen .txtScroll .list.txtKeyword{
	padding-left: 2px;
	padding-top: 2px;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .txtScroll .list:last-child{
	margin: 0;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .txtScroll .list.txtScrent .color{
    background: rgb(212, 92, 103);
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: text-bottom;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .txtScroll .list .delBtn{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	padding: 2px;
	cursor: pointer;
	line-height: 26px;
}
/* #top_header .header-content .h-center .result-section .InputKeyword .Kscreen .txtScroll .list:hover .delBtn{
	display: inline-block;
} */
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .arrow{
	position: absolute;
	width: 25px;
	height: 100%;
	text-align: center;
	line-height: 38px;
	font-size: 21px;
	cursor: pointer;
	top: 0;
	display: none;
	color: var(--header-icon);
}
.container2 #top_header .header-content .h-center .result-section .InputKeyword .Kscreen .arrow{
	line-height: 70px;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen.ShowScroll .arrow{
	display: inline-block;
}
.container2 #top_header .header-content .h-center .result-section .InputKeyword .Kscreen .arrow-close:hover,
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .arrow-left:hover,
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .arrow-right:hover{
	background: var(--header-textHover);
	color: var(--header-iconHover);
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .arrow-left{
	left: 25px;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .arrow-right{
	right: 30px;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .arrow-close{
	right: 4px;
	border-radius: 0px 20px 20px 0px;
	font-size: 21px;
	display: none;
}
.container2 #top_header .header-content .h-center .result-section .InputKeyword .Kscreen .arrow-close{
	border-radius: 0;
}
#top_header .header-content .h-center .result-section .InputKeyword .Kscreen .arrow-close:hover{
	color: var(--header-iconHover);
}


#top_header .header-content .h-center .result-section .el-input__inner::-webkit-input-placeholder,
#top_header .header-content .h-center .result-section .el-input__inner::-moz-placeholder,
#top_header .header-content .h-center .result-section .el-input__inner:-moz-placeholder,
#top_header .header-content .h-center .result-section .el-input__inner:-ms-input-placeholder {
	/* WebKit, Blink, Edge 适配谷歌*/
	color: var(--header-text);
}

#top_header .header-content .h-center .result-section .library-classification {
    border: 1px solid var(--border-color-base);
    border-right: 0;
    line-height: 37px;
    padding-right: 15px;
    white-space: nowrap;
    border-radius: 25px 0px 0px 25px;
	height: 100%;
}

#top_header .header-content .h-center .result-section .library-classification .block {
	font-size: 14px;
	cursor: pointer;
	margin-left: 15px;
	color: var(--header-text);
}

#top_header .header-content .h-center .result-section .library-classification .block:hover {
	color: var(--header-active);
}
.container3 #top_header .header-content .h-center .result-section .library-classification {
    border-radius: 8px 0px 0px 8px;
}
#top_header .header-content .h-right .r-option {
	display: flex;
	align-items: center;
	height: 40px;
}

#top_header .header-content .h-right .right-block {
	float: left;
	font-size: 24px;
	padding: 8px;
	cursor: pointer;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 5px;
	color: var(--header-icon);
}

#top_header .header-content .h-right .right-block i {
	vertical-align: top;
}

#top_header .header-content .h-right .right-block:hover {
	background: var(--header-textHover);
	color: var(--header-iconHover);
}
#top_header .header-content .h-right .right-block.active{
	background: var(--header-textHover);
	color: var(--header-iconHover);
}


.database-box .el-dropdown-menu__item .icon {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: middle;
	font-size: 16px;
}



.display-mode {
	width: 240px;
}

.display-mode .el-dropdown-menu__item {
	padding: 0px;
	position: relative;
}
.display-mode .el-dropdown-menu__item.is-disabled {
	color: var(--tip-color);
}
.display-mode .el-dropdown-menu__item .item-txt{
	padding: 0px 20px 0 30px;
	position: relative;
}
.display-mode .el-dropdown-menu__item .prefix {
	position: absolute;
	left: 5px;
	top: 0;
	bottom: 0;
	font-size: 17px;
	height: 17px;
	width: 17px;
	margin-top: auto;
	margin-bottom: auto;
	display: none;
}

.display-mode .el-dropdown-menu__item.active .prefix {
	display: inline-block;
}

.display-mode .el-dropdown-menu__item .suffix {
	position: absolute;
	right: 0px;
	top: 0;
	bottom: 0;
	font-size: 17px;
	height: 17px;
	width: 17px;
	margin-top: auto;
	margin-bottom: auto;
}


.display-mode .el-divider {
	margin: 8px 0;
}

.display-mode .el-dropdown-menu__item:hover .child-dropdown {
	display: block !important;
}

.display-mode .el-dropdown-menu__item .child-dropdown {
	width: 240px;
    right: 238px;
    left: unset;
    top: -16px;
}

.el-popover-search{
	padding: 0;
	border: 2px solid var(--color-primary);
	box-shadow: none;
	position: absolute;
	top: 0;
	height: auto;
	left: 0;
	width: 100%;
	z-index: 4000;
	border-radius: 0 20px 20px 20px;
	border-width: 2px;
	background-color: var(--bg-input);
	display: none;
	overflow:hidden;
}
.container3 .el-popover-search{
	border-radius: 0 8px 8px 8px;
}
.notradius .el-popover-search{
	border-radius: 0;
}
.radius .el-popover-search{
	border-radius: 20px;
}
.container3 .radius .el-popover-search{
	border-radius: 8px;
}
.InputKeyword.focus .el-popover-search{
	display: block;
}

/* 111 */
.InputKeyword.focus .el-popover-search .keyword-input-close{
	font-size: 21px;
	line-height: 36px;
	color: var(--header-icon);
	cursor: pointer;
}
.container2 .InputKeyword.focus .el-popover-search .keyword-input-close{
	line-height: 66px;
	margin-right: -1px;
}


.InputKeyword.focus .el-popover-search .keyword-input-close:hover{
	color: var(--header-iconHover);
}
.el-popover-search .el-divider{
	margin: 0;
}
.el-popover-search .field-select-box{
	padding: 15px 15px 0 15px;
}
.popover-search {
	max-width: 832px;
	padding: 8px;
	padding-left: 15px;
	padding-bottom:30px;
}

.popover-search .recent-search .title {
	font-size: 16px;
	color: var(--header-active);
}

.popover-search .recent-search .title .icon {
	display: inline-block;
	margin-left: 5px;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	vertical-align: bottom;
	cursor: pointer;
}

.popover-search .recent-search .title .icon:hover {
	color: var(--header-active);
	background: var(--bg-poperHover);
}

.popover-search .recent-search .recent-search-txt {
	padding-top: 6px;
}

.popover-search .recent-search .recent-search-txt .txt {
	float: left;
	padding: 8px 15px;
	background: var(--bg-poperHover);
	border-radius: 16px;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 6px;
	margin-right: 5px;
}

.popover-search .recent-search .recent-search-txt .txt:hover {
	color: var(--header-active);
}

.popover-search .hot-tags {
	margin-top: 12px;
	margin-top: 16px;
}

/* .popover-search .hot-tags .title {
	font-size: 16px;
	color: var(--header-active);
} */

.popover-search .hot-tags .tags-img {
	overflow: hidden;
	padding-top: 8px;

}

.popover-search .hot-tags .tags-img .img-list {
	width: 192px;
	height: 84px;
	border-radius: 8px;
	overflow: hidden;
	margin-right: 8px;
	position: relative;
	float: left;
	margin-bottom: 8px;
}

.popover-search .hot-tags .tags-img .img-list .img {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.popover-search .hot-tags .tags-img .img-list .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0, .3);
}

.popover-search .hot-tags .tags-img .img-list .txt {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 8px;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-align: center;
	z-index: 1;
}

.popover-search .hot-tags .tags-img .img-list .txt:hover {
	background: rgb(0, 0, 0, .3);
}

.popover-search .hot-tags .tags-img .img-list .txt span {
	display: block;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
}
