<div class="screen-item" style="position: relative;">
	<template v-if="ParamScreen.value.ext.loading">
		<van-loading class="custom-load" size="24px" type="spinner" color="var(--header-text)" vertical>加载中...</van-loading>
	</template>
	<template v-else>
		<template v-if="ParamScreen.value.ext.data && ParamScreen.value.ext.data.length">
			<!-- <van-checkbox-group v-model="ParamScreen.value.ext.value" @change="ScreenExtChange"> -->
				<van-cell-group>
					<van-cell v-for="(item, index) in ParamScreen.value.ext.data" clickable :key="index" :title="item.ext" @click="ScreenExtClick(item.ext)" :value="item.num" class="van-cell-tag" :class="ParamScreen.value.ext.value.indexOf(item.ext)>-1?'active':''"></van-cell>
					<!-- <van-cell v-for="(item, index) in ParamScreen.value.ext.data" clickable :key="index" :title="item.ext" @click="ScreenExtClick(item.ext)">
						<template #right-icon>
							<div class="num">{{item.num}}</div>
							<van-checkbox shape="square" :name="item.ext" disabled />
						</template>
					</van-cell> -->
				</van-cell-group>
			<!-- </van-checkbox-group> -->
		</template>
		<template v-else>
			<div class="notScreen">
				<div>
					<img src="{MOD_PATH}/image/notScreen.png" >
					<div>没有筛选条件</div>
				</div>
			</div>
		</template>
		
	</template>
</div>