<van-checkbox-group v-model="ParamImages.operation.rids">
	<div 
		class="imgitem" 
		v-for="item in ParamImages.Newdatas" 
		:style="{top:item.ptop+'px',left:item.pleft+'px',width:item.pwidth+'px'}" 
		:key="item.rid" 
		:rid="item.rid"
		@click="ImagesDetailClick(item.rid,item.dpath,item.index)">
		<van-checkbox v-if="ParamImages.checked" class="imgchecked" icon-size="20px" :name="item.rid" disabled></van-checkbox>
		<div class="imgbox">
			<div 
				class="imgbox-border radius" 
				:style="{height: item.pheight+'px',width: (item.pwidth-8)+'px',background:'#'+item.color}"
				v-bind:class="item.opentype=='video'||item.opentype=='audio'?'border':''">
				<div class="div-black" :data-rid="item.rid">
					<div class="bck"></div>
					<img
						class="img el-image__inner opacity" 
						:ref="'ref_'+item.rid"
						@load="ImagesImgload(item.rid)"
						:src="item.icondata"
						alt="" />
					<div class="circular-box">
						<div class="circular-item-box">
							<div class="circular-item first"><i class="ri-file-search-line icon"></i></div>
							<div class="circular-item two"><i class="ri-share-line icon"></i></div>
							<div class="circular-item three"><i class="ri-download-2-line icon"></i></div>
						</div>
						<div class="round"></div>
						<div></div>
					</div>
				</div>
				
				<div v-if="ParamSort.showinformation.value.indexOf('tagging')>-1&&parseInt(item.annonationnum)>0" class="annotation">{{item.annonationnum}}</div>
			</div>
			<div class="bottom-img-message">
				<div class="name">
					<div class="text" v-if="ParamSort.showinformation.value.indexOf('name')>-1||ParamSort.showinformation.value.indexOf('extension')>-1">
						<template v-if="ParamSort.showinformation.value.indexOf('name')>-1" v-cloak>
							<template v-if="parseInt(item.level)==1">
								<van-image
									 style="vertical-align: sub;"
									width="20px"
									height="20px"
									fit="contain"
									src="dzz/pichome/image/grade/1.png"
								/>
							</template>
							<template v-else-if="parseInt(item.level)==2">
								<van-image
									style="vertical-align: sub;"
									width="20px"
									height="20px"
									fit="contain"
									src="dzz/pichome/image/grade/2.png"
								/>
							</template>
							<template v-else-if="parseInt(item.level)==3">
								<van-image
									style="vertical-align: sub;"
									width="20px"
									height="20px"
									fit="contain"
									src="dzz/pichome/image/grade/3.png"
								/>
							</template>
							<template v-else-if="parseInt(item.level)==4">
								<van-image
									style="vertical-align: sub;"
									width="20px"
									height="20px"
									fit="contain"
									src="dzz/pichome/image/grade/4.png"
								/>
							</template>
							<template v-else-if="parseInt(item.level)==5">
								<van-image
									style="vertical-align: sub;"
									width="20px"
									height="20px"
									fit="contain"
									src="dzz/pichome/image/grade/5.png"
								/>
							</template>
							{{item.name}}
						</template><template v-if="ParamSort.showinformation.value.indexOf('extension')>-1" v-cloak>.{{item.ext}}</template>
					</div>
					<div 
						v-if="item.share || item.download || parseInt(DocumentAdminId) || parseInt(item.collection)" 
						class="circulars" 
						@click.stop="ImagesMoreClick(item)">
						<i class="ri-more-fill"></i>
					</div>
				</div>
				<template v-if="ParamSort.showinformation.value.indexOf('other')>-1">
					<div class="other" v-if="ParamSort.otherinformation.value=='size'">
						<span>{{item.width}} × {{item.height}}</span>
					</div>
					<div class="other" v-else-if="ParamSort.otherinformation.value=='filesize'">
						<span>{{item.fsize}}</span>
					</div>
					<div class="other" v-else-if="ParamSort.otherinformation.value=='tag'">
						<span v-if="!item.tags" class="label">-</span>
						<span v-else class="label" v-for="tg in item.tags">•{{tg}}</span>
					</div>
					<div class="other" v-else-if="ParamSort.otherinformation.value=='grade'">
						<van-icon v-for="item in parseInt(item.grade)" class="score active" name="star"></van-icon><van-icon v-for="item in 5-parseInt(item.grade)" class="score" name="star"></van-icon>
					</div>
					<div class="other" v-else-if="ParamSort.otherinformation.value=='btime'">
						<span>{{item.btime}}</span>
					</div>
					<div class="other" v-else-if="ParamSort.otherinformation.value=='dateline'">
						<span>{{item.dateline}}</span>
					</div>
					<div class="other" v-else-if="ParamSort.otherinformation.value=='mtime'">
						<span>{{item.mtime}}</span>
					</div>
				</template>
			</div>
		</div>
	</div>
</van-checkbox-group>
			