<div class="marginTop">
	<div class="tag-box" style="min-height: 31px;">
		<el-tag
			v-for="folder in item.data"
			:key="folder.tid"
			disable-transitions
			type="info"
			:closable="RightData.allowedit"
			@close="RightTabDelete(folder.tid,item.flag)">
			{{folder.tabname}}
		</el-tag>
		<template v-if="RightData.allowedit">
			<el-popover
				placement="left"
				@before-enter="RightTabPopverShow(item.flag)"
				@after-leave="RightTabPopverHide(item.flag)"
				width="auto"
				trigger="click">
				<div class="popbox-body" style="padding: 5px 10px;width:850px;height: 480px; overflow:hidden;max-height: unset;">
					<iframe frameborder="0" width="100%" height="100%"  :src="item.iframe"></iframe>
				</div>
				<template #reference>
					<el-icon style="color: var(--el-color-info);vertical-align: middle;cursor:pointer;"><Circle-Plus-Filled /></el-icon>
				</template>
			</el-popover>
		</template>
		
	</div>
</div>