<!--{template pc/frame/header_simple_start}-->
<link rel="stylesheet" type="text/css" href="{MOD_PATH}/css/pc/admin.css?{VERHASH}"/>
<style type="text/css">
	.title .el-form-item__label{
		color: var(--starsActive);
		font-size: 18px;
	}
	.maxWidth {
		max-width: 370px;
		width: 100%;
	}
	.el-tag{
		background: transparent !important;
		border: 0;
	}
	.el-tooltip__popper .popper__arrow {
	    display: none;
	}
</style>
<!--{template pc/frame/header_simple_end}-->
<div id="dzzoffice">
	<el-container>
		<el-header height="auto" style="padding: 0;z-index: 10;">
			<page-header :isscreenshow="false"></page-header>
		</el-header>
		<el-container>
		    <el-aside width="260px">
				<!--{template pc/page/adminLeft}-->
			</el-aside>
		    <el-main>
				<div class="page-content">
					<div id="center_title">存储位置设置</div>
					<el-scrollbar class="page-component__scroll">
						<!--{template pc/components/admin/storage/table}-->
					</el-scrollbar>
				</div>
			</el-main>
		  </el-container>
	</el-container>
	<!-- 添加弹窗 -->
	<!--{template pc/components/admin/storage/addDialog}-->
	
	<!-- 本地编辑弹窗 -->
	<!--{template pc/components/admin/storage/editDialogDzz}-->
	
	<!-- 其他编辑弹窗 -->
	<!--{template pc/components/admin/storage/editDialogOther}-->
</div>
<!--{template pc/components/headerAdmin/index}-->
<script type="text/javascript">
	new Vue({
		el: '#dzzoffice',
		data() {
			return {
				HtmlLoading:true,
				

				FormEdit:{
					dialogVisible:false,
					name:'',
					radio:1,
					select:''
				},
				
			}
		},
		mixins:[LeftMixin,TableMixin,AddDialogMixin,EditDialogDzzMixin,EditDialogOtherMixin],
		created() {

		},
		methods: {
		
			
		},
		mounted() {}
	})
</script>

<!--{template pc/frame/footer_simple}-->
