<!--{template pc/frame/header_simple_start}-->
<link rel="stylesheet" type="text/css" href="{MOD_PATH}/css/pc/admin.css?{VERHASH}"/>
<!--{template pc/frame/header_simple_end}-->
<div id="dzzoffice">
	<el-container>
		<el-header height="auto" style="padding: 0;z-index: 10;">
			<page-header :isscreenshow="false"></page-header>
		</el-header>
		<el-container>
		    <el-aside width="260px">
				<!--{template pc/page/adminLeft}-->
			</el-aside>
		    <el-main>
				<div class="page-content">
					<div id="center_title">登录页设置</div>
					<el-scrollbar class="page-component__scroll">
						<div class="content" style="padding: 16px 25px;">
							<el-form ref="form" :model="formdata" label-width="200px">
								<el-form-item label="主标题：">
									<el-input class="maxWidth" v-model="formdata.loginset.title"></el-input>
									<p class="tipTxt">独立登录页左侧标题</p>
								</el-form-item>
								<el-form-item label="副标题：">
									<el-input class="maxWidth" v-model="formdata.loginset.subtitle"></el-input>
									<p class="tipTxt">独立登录页左侧副标题</p>
								</el-form-item>
								<el-form-item label="页面背景：">
									<el-input class="maxWidth" v-model="formdata.loginset.background"></el-input>
									<!-- <el-button 
									class="register-bg-bt"
									style="" 
									plain 
									icon="el-icon-search">上传图片</el-button> -->
									<p class="tipTxt">可以为颜色（如：#FFF）；图片（以.jpeg，.jpg，.png结尾）或网址</p>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" @click="handleSubmit" :loading="btnloading">保存更改</el-button>
								</el-form-item>
							</el-form>
						</div>
					</el-scrollbar>
				</div>
						
			</el-main>
		  </el-container>
	</el-container>
</div>
<!--{template pc/components/headerAdmin/index}-->
<script type="text/javascript">
	new Vue({
		el: '#dzzoffice',
		data() {
			return {
				btnloading:false,
				formdata:{
					loginset:{
						'title':'$setting[loginset][title]',
						'subtitle':'$setting[loginset][subtitle]',
						'background':'$setting[loginset][background]',
						'template':'2',
					}
				},
			}
		},
		created() {
			
		},
		methods: {
			handleRouter(type){
				window.location.href = MOD_URL+'&op=admin&do='+type;
			},
			handleSubmit() {
				var self = this;
				self.btnloading = true;
				$.post(MOD_URL+'&op=admin&do=loginpage',{
					settingsubmit:true,
					formhash:'{FORMHASH}',
					settingnew:self.formdata,
				},function(data){
					if(data){
						self.$message({
							type:'success',
							message:'保存成功'
						});
					}else{
						self.$message.error('保存失败');
					}
					self.btnloading = false;
				},'json');
			}
		},
		mounted() {}
	})
</script>

<!--{template pc/frame/footer_simple}-->
