.information-box {
  margin-top: 20px;
}
.information-box .message-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  padding-bottom: 0;
  background: var(--el-bg-color);
}
.information-box .message-header .img-box {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.information-box .message-header .el-image {
  min-width: 230px;
}
.information-box .message-header .el-image img {
  border-radius: 8px;
}
.information-box .message-header .el-image.image_1 {
  width: 230px;
  height: 182px;
}
.information-box .message-header .el-image.image_2 {
  width: 230px;
  height: 308px;
}
.information-box .message-header .el-image.image_3 {
  width: 230px;
  height: 230px;
}
.information-box .message-header .descriptions {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 20px;
  padding-bottom: 20px;
}
.information-box .message-header .descriptions .header-title {
  font-weight: 700;
  font-size: 28px;
  padding: 8px 11px;
}
.information-box .message-header .descriptions ul {
  padding-top: 10px;
  padding-bottom: 60px;
}
.information-box .message-header .descriptions ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  padding: 8px 11px;
}
.information-box .message-header .descriptions ul li .title {
  line-height: 23px;
  white-space: nowrap;
  width: 80px;
  min-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.information-box .message-header .descriptions ul li .content {
  margin-left: 8px;
  line-height: 23px;
}
.information-box .menu-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--el-bg-color);
  border-top: var(--el-border);
  padding: 10px 20px;
}
.information-box .menu-box .el-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 20px;
  overflow: hidden;
  --el-menu-bg-color: transparent;
  border-bottom: 0;
  height: 40px;
}
.information-box .menu-box .el-menu .el-menu-item {
  border: 0;
  margin-right: 4px;
  border-radius: var(--el-border-radius-base);
}
.information-box .menu-box .el-menu .el-menu-item.is-active {
  color: #FFFFFF !important;
  background: var(--el-color-primary);
}
.information-box .menu-box .el-input {
  width: 300px;
  height: var(--el-input-height);
}
.information-box .layout-box:last-child {
  padding-bottom: 30px;
}
.information-box .layout-box .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}