<div id="top_header">
	<div class="header-content">
		<div class="h-left">
			<a href="{MOD_URL}">
				<el-image src="data/attachment/sitelogo/sitelogo.png?{VERHASH}" fit="contain"></el-image>
				<span class="text">$_G['setting'][sitename]</span>
			</a>
		</div>
		<div class="h-center">
			<!--{template pc/components/index/header/JsHdeaderSearch1}-->
		</div>
		<div class="h-right">
			<!--{template pc/components/index/header/JsHeaderRight}-->
		</div>
	</div>
</div>
<!--{template pc/components/index/JsScreen}-->
<template v-if="ImageType == 'table'">
	<ul class="imagtablelayout imagtable-top" style="margin-top: 8px;">
		<li class="li-item">名称</li>
		<li class="li-item size">尺寸</li>
		<li class="li-item ext">扩展名</li>
		<li class="li-item size">文件大小</li>
		<li class="li-item time">添加日期</li>
	</ul>
</template>
<script type="text/javascript">
	var JsHeaderData = $.extend({},JsHdeaderSearchData,JsHeaderRightData,JsScreenData,{
		
	});
	var JsHeaderMethods = $.extend({},JsHdeaderSearchMethods,JsHeaderRightMethods,JsScreenMethods,{
		
	});
</script>