
body{
	height: 100%;
	color:#FFF;
}
a{
	color:inherit;
}
 .mainContainer{
	animation-duration: 800ms;
    position: relative;
    animation-fill-mode: both;
	z-index: 10;
	height: 100%;
	text-align: center;
	overflow:auto;
}
.mainContainer:before{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
   
.modal-content{
	padding: 30px;
	vertical-align: middle;
	display: inline-block;
    max-width: 100%; 
    font-size: 14px;  
	color:#333;
    border: none;
    background: #FFF; 
	min-width:320px;
	box-shadow: 0 5px 15px RGBA(0,0,0,0.3);
}
.form-group {
    margin-bottom: 20px;
}




.brand {
   margin:15px 0;
}
.brand img {
	max-width:128px;
	max-height:128px;
}
 .main-title {
   font-size:26px;
    margin: 11px 0;
     color: #CA846C;
    vertical-align: middle;
}
 .sub-title {
   font-size:18px;
    margin: 11px 0;
     color: #CA846C;
    vertical-align: middle;
}

.loginForm{
	width: 350px;
    margin: 30px 0 0 0;
	
}
span.spacer{
	margin:0 5px;
	color:#eee;
}
.seccode-wrapper{
	text-align:left;
}
p.error-msg{
	text-align:left;
	margin:20px 0;
}
.btn-lg{
	margin-top:20px;
}

@media (max-width: 414px){
	.modal-content{
		padding:20px;
		margin-top:15px;
	}
	.mainContainer:before{
		display:none;
    }
}
@media (max-width: 375px){
  
	.modal-content{
		padding:15px;
		min-width:300px
	}
	
   .loginForm {
        width: 320px;
    }
}

@media (max-width: 320px){
   
	.modal-content{
		margin:10px;
		padding:20px;
		min-width:300px
	}
	
   .loginForm {
        width: auto;
    }
}
.checkbox-custom {
    margin-top: 0;
    margin-bottom: 0;
}
.checkbox-custom label, .radio-custom label{
	font-size:14px;
	padding-left: 5px;
}
.checkbox-custom input[type=radio]:focus+label::before, .checkbox-custom input[type=checkbox]:focus+label::before{
	outline:none;
}
.checkbox-primary input[type=radio]:checked+label::before, .checkbox-primary input[type=checkbox]:checked+label::before{
	border-color: #CA846C;
	outline:none
}
.copyright-container{
   position: absolute;
    bottom: 0;
	width:100%;
	left:0;
}
footer.page-copyright {
    position: absolute;
	width:100%;
	left:0;
	top:0;
    margin: 20px 10px 10px 10px;
    font-size: 12px;
	color:#FFF;
	text-shadow:1px 1px 1px RGBA(0,0,0,.2);
}
footer.page-copyright a{
	color:#FFF;
}
footer.page-copyright a:hover{
	color:#CA846C;
}
.third-wrapper{
	margin-bottom:20px;
	text-align: left;
}
.third-wrapper>a{
	display: inline-block;
	width:52px;
	height:52px;
	padding:10px;
}
.third-wrapper>a:hover{
	background-color: RGBA(0,0,0,.05);
}
.third-wrapper>a>img{
	max-width:32px;
	max-height:32px;
	vertical-align: middle
}
