@charset "UTF-8";
.left-aside {
  border-right: solid 1px var(--el-menu-border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--el-bg-color);
}
.left-aside .el-page-header {
  padding: 20px 10px;
}
.left-aside .el-page-header .el-page-header__title {
  display: none;
}
.left-aside .el-page-header .el-divider {
  display: none;
}
.left-aside .el-page-header .el-page-header__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  margin: 0;
}
.left-aside .el-page-header .el-page-header__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}
.left-aside .el-page-header .el-text--large {
  --el-text-font-size: var(--el-font-size-large);
}

.warp-box {
  padding: var(--el-main-padding);
  min-height: 100%;
}
.warp-box .warp-block {
  border: var(--el-border);
  padding: 12px;
  border-radius: var(--el-border-radius-base);
  -webkit-box-shadow: var(--el-box-shadow-light);
          box-shadow: var(--el-box-shadow-light);
  background: var(--el-bg-color);
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.warp-box .warp-block .el-tabs__header {
  margin: 0 -12px;
  padding: 0 12px;
  margin-bottom: 15px;
  overflow: hidden;
}
.warp-box .warp-block .el-tabs__header .el-tabs__item .tabs-icon-edit {
  margin-left: 6px;
  vertical-align: middle;
  display: none;
}
.warp-box .warp-block .el-tabs__header .el-tabs__item:hover .tabs-icon-edit {
  display: inline-block;
}
.warp-box .warp-block .title-header {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}
.warp-box .warp-block .title-header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.warp-box .warp-block .title-header .left .icon-header {
  margin-right: 10px;
  cursor: pointer;
}
.warp-box .warp-block .title-header .left .edit {
  margin-left: 6px;
  opacity: 0;
  cursor: pointer;
}
.warp-box .warp-block .title-header .right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.warp-box .warp-block .title-header:hover .left .edit {
  opacity: 1;
}
.warp-box .warp-block .warp-content {
  margin-top: 12px;
}
.warp-box .warp-block .warp-content .table-move-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: var(--el-font-size-medium);
}
.warp-box .warp-block .warp-content .editor—wrapper {
  border: var(--el-border);
  z-index: 10;
}
.warp-box .warp-block .warp-content .editor—wrapper .toolbar-container {
  border-bottom: var(--el-border);
}
.warp-box .warp-block .warp-content .editor—wrapper .editor-container {
  height: 400px;
}
.warp-box .warp-block .warp-content .question-box {
  margin-top: 16px;
  border-bottom: var(--el-border);
  padding-bottom: 16px;
}
.warp-box .warp-block .warp-content .question-box:first-child {
  margin-top: 0;
}
.warp-box .warp-block .warp-content .question-box:last-child {
  border-bottom: 0;
}
.warp-box .warp-block .warp-content .question-box .editor—wrapper .editor-container {
  height: 150px;
}
.warp-box .warp-block .warp-content .question-box .question-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.warp-box .warp-block .warp-content .question-box .question-row .move-col {
  width: 60px;
  min-width: 60px;
  position: relative;
  color: var(--el-text-color-regular);
}
.warp-box .warp-block .warp-content .question-box .question-row .title-col {
  font-size: var(--el-font-size-base);
  color: var(--el-text-color-regular);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 50px;
}
.warp-box .warp-block .warp-content .question-box .question-row .input-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 12px;
}
.warp-box .warp-block .warp-content .question-box .question-row .operation-col {
  width: 80px;
  min-width: 80px;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.warp-box .warp-block .warp-content .upload-img .el-image {
  width: 100%;
  height: 100%;
  border-radius: var(--el-border-radius-small);
}
.warp-box .warp-block .warp-content .upload-img .upload-img-icon {
  color: #ffffff;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--el-overlay-color-lighter);
  border-radius: var(--el-border-radius-small);
  cursor: pointer;
  z-index: 1;
}
.warp-box .warp-block .warp-content .upload-img:hover .upload-img-icon {
  opacity: 1;
}
.warp-box .right-type-li {
  border: 2px solid var(--el-color-primary);
  border-radius: var(--el-border-radius-base);
}
.warp-box .right-type-li .el-text {
  display: none;
}

.right-type-box .right-type-li {
  padding: 6px;
  border: var(--el-border);
  font-size: 14px;
  border-radius: var(--el-border-radius-base);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  cursor: move;
}
.right-type-box .right-type-li.right-type-li-disabled {
  cursor: default;
}
.right-type-box .right-type-li:hover {
  background-color: var(--el-fill-color-light);
}
.right-type-box .right-type-li .el-icon {
  margin-right: 6px;
}