<div class="block">
	<div class="title">注释</div>
	<div class="internet-options more auto">
		<ul class="internet-options-ul" style="float: left;">
			<li class="single" @click="ScreenDescClick('not')" :class="{'active':!ScreenValue.desc.value&&parseInt(ScreenValue.desc.value)!=0}">
				<span>不限</span>
			</li>
		</ul>
		<ul class="internet-options-ul">
			<li class="single" @click="ScreenDescClick(1)" :class="{'active':ScreenValue.desc.value==1}">
				<span>有注释</span>
			</li>
			<li class="single" @click="ScreenDescClick(0)" :class="{'active':parseInt(ScreenValue.desc.value)==0}">
				<span>没有注释</span>
			</li>
			<li class="single notborder notpadding" v-if="ScreenValue.desc.value==1">
				<el-input
					class="max-width"
					size="small"
					@input="ScreenDescInput"
					placeholder="包含关键字(使用,隔开)"
					v-model="ScreenValue.desc.input"
					clearable>
				</el-input>
			</li>
		</ul>
	</div>
</div>