[v-cloak] {
    display: none;
}
#dzzoffice{
	position: relative;
	background: var(--bg-content);
}
.van-tree-select__content{
	background-color: transparent;
}
.custom-image.van-empty{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}
.van-popup{
	overflow: unset;
}
.van-popup .vam-popup-title{
	height: 40px;
    font-weight: 700;
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    padding: 0 12px;
    font-size: 18px;
    color: #FFFFFF;
}
.conter-toast{
	z-index: 5001 !important;
}
.notScreen{
	width: 100%;
	height: 100%;
	position: relative;
}
.notScreen>div{
	height: 80px;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	font-size: var(--font-14);
	color: var(--header-text);
}
.notScreen>div img{
	width: 3.125rem;
	height: 3.125rem;
}
.screen-textarea{
    border-radius: 8px;	
}
#dzz_avatar_img{
    width: 2.1875rem;
    height: 2.1875rem;
    display: inline-block;
}
#dzz_avatar_img .Topcarousel{
	width: 2.1875rem;
	height: 2.1875rem;
	display: inline-block;
	line-height: 2.1875rem;
	border-radius: 50%;
	color: #FFFFFF;
}
.library-box{
	color: var(--header-text);
}
.van-nav-bar .library-box .van-icon{
	color: var(--header-text);
}
.header-top{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all .3s;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	background: var(--bg-content);
}
.header-top.headerhide{
	top: -46px;
	opacity: 0;
}
.header-top .van-dropdown-menu__bar{
	height: 46px;
}
.footer-popup{
	padding-bottom: 70px;
}
.footer-popup .btn-bottom{
	padding: 10px;
    height: 70px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.footer-popup .btn-bottom .van-button{
    width: auto;
    padding: 15px 20px;
}
.footer-popup .popup-search-input .van-field__right-icon{
	padding-right: 0;
}
.footer-popup .popup-search-input .van-field__right-icon .van-icon{
	font-size: 1.25rem;
	color: var(--header-active);
}
.seasrch-popup{
	padding-top: 56px;
}
.footer-popup .van-search-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.footer-popup .van-search-box .van-field{
	border: 0;
	font-size: 0.875rem;
}

.seasrch-popup .search-val-box{
	padding: 0 12px;
	height: 100%;
	overflow: auto;
	position: relative;
}
.seasrch-popup .search-val-box .search-host{
	overflow: hidden;
	position: relative;
	margin-left: -12px;
}
.seasrch-popup .search-val-box .search-host-list{
	height: 5rem;
	border-radius: 8px;
	text-align: center;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0.625rem;
	position: relative;
	margin-left: 12px;
	float: left;
}
@media screen and (max-width: 1024px) {
	.seasrch-popup .search-val-box .search-host-list{
		width: 46.6%;
	}
}
@media screen and (min-width: 1024px) {
	.seasrch-popup .search-val-box .search-host-list{
		width: 13.75rem;
	}
}
.seasrch-popup .search-val-box .search-host-list .bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0, .3);
	border-radius: 8px;
}
.seasrch-popup .search-val-box .search-host-list .text{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 8px;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 700;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-align: center;
	z-index: 1;
}
.seasrch-popup .search-val-box .highlight{
	color: var(--header-active);
}
.sort-popup .van-popup__close-icon--top-right,
.screen-popup .van-popup__close-icon--top-right {
    top: 10px;
    right: 10px;
}
/* .sort-popup .van-tree-select{
	height: calc(100% - 41px) !important;
	height: -moz-calc(100% - 41px) !important;
	height: -webkit-calc(100% - 41px) !important;
} */
.screen-popup .van-tree-select{
}
.screen-popup .van-tree-select .van-sidebar{
	width: 6rem;
	-webkit-box-flex: initial;
	-webkit-flex: initial;
	flex: initial;
}
.screen-popup .van-tree-select__content{
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: transparent;
}
.van-popup .van-tree-select__content .screen-item-box{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-top: 56px;
}
.van-popup .van-tree-select__content .screen-item .screen-item-option-box{
	padding: 0px 8px;
}
.van-popup .van-tree-select__content .screen-item .screen-item-option-box .screen-item-option{
	padding: 10px 16px;
	margin-bottom: 8px;
	border-radius: 8px;
}
.van-popup .van-tree-select__content .screen-item .screen-item-option-box .screen-item-option.active{
	background: var(--bg-poperHover);
}
.screen-popup .van-tree-select__content .screen-item{
	height: 100%;
	overflow: auto;
	padding: 0px 10px;
}
.screen-popup .van-tree-select__content .screen-item .swip-row{
	border: 1px solid var(--border-color-base);
	border-radius: 18px;
	overflow: hidden;
}
.screen-popup .van-tree-select__content .screen-item .swip-row .swip{
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: var(--bg-input);
	color: var(--header-text);
}
.screen-popup .van-tree-select__content .screen-item .swip-row .swip.active{
	background: var(--color-primary);
	color: #FFFFFF;
}
.van-popup .van-tree-select__content .screen-item .van-cell-group .van-cell.van-cell-tag{
	margin-bottom: 6px;
	border-radius: 999px;
}
.van-popup .van-tree-select__content .screen-item .van-cell-group .van-cell.van-cell-tag.active{
	background-color: var(--bg-poperHover);
}
.sort-popup .van-tree-select__content .screen-item .van-cell-group,
.screen-popup .van-tree-select__content .screen-item .van-cell-group{
	background-color: transparent;
}
.sort-popup .van-tree-select__content .screen-item .van-cell-group .van-cell,
.screen-popup .van-tree-select__content .screen-item .van-cell-group .van-cell{
	background-color: transparent;
}

.van-calendar__day--end, .van-calendar__day--multiple-middle, .van-calendar__day--multiple-selected, .van-calendar__day--start, .van-calendar__day--start-end{
	background-color: var(--color-primary);
}
.screen-popup .van-hairline--top-bottom::after, .screen-popup .van-hairline-unset--top-bottom::after {
    border-width: 0;
}
.sort-popup .van-hairline--top-bottom::after, .sort-popup .van-hairline-unset--top-bottom::after {
    border-width: 0;
}
.screen-popup .van-tree-select__content .screen-item .color-box .quick{
	overflow: hidden;
	/* margin-left: -10px; */
}
.screen-popup .van-tree-select__content .screen-item .color-box .quick .quick-list-box{
	width: 20%;
	margin-bottom: 0.1875rem;
	padding: 0 0.1875rem;
	display: inline-block;
	
}
.screen-popup .van-tree-select__content .screen-item .color-box .quick .quick-list{
/* 	float: left;
	height: calc(20% / 2);
	width: 20%;
   height: 2.5rem;
    width: 2.5rem;
    z-index: 1;
    border-radius: 50%;
    margin-bottom: 0.625rem;
    margin-left: 0.625rem;
	border: 1px solid transparent;
	position: relative; */
	height: 0;
	padding: 25% 0;
	position: relative;
	border-radius: 8px;
}
.screen-popup .van-tree-select__content .screen-item .color-box .quick .quick-list .van-icon{
	position: absolute;
	color: #FFFFFF;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@media screen and (max-width: 768px) {
	.screen-popup .van-tree-select__content .screen-item .color-box .quick .quick-list .van-icon{
		font-size: 18px;
		width: 18px;
		height: 18px;
	}
}
@media screen and (min-width: 768px) {
	.screen-popup .van-tree-select__content .screen-item .color-box .quick .quick-list .van-icon{
		font-size: 30px;
		width: 30px;
		height: 30px;
	}
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-input{
	position: relative;
	margin-bottom: 0.9375rem;
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-input .van-field{
	/* padding: 0; */
	/* height: 35px; */
	padding-left: 35px;
	/* height: 35px; */
	border-radius: 8px;
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-input .color-show{
	position: absolute;
	width: 18px;
	height: 18px;
	z-index: 1;
	border-radius: 6px;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
	left: 8px;
	border: 1px solid transparent;
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-input .color-show.border{
	border: 1px solid var(--border-color-base);
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-input .van-field .van-field__button{
	padding-left: 8px;
	line-height: 35px;
	padding-right: 8px;
	border-left: 1px solid var(--border-color-base);
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-input .van-field .van-field__button img{
	vertical-align: sub;
	width: 16px;
	height: 16px;
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-slider{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	padding: 15px 0;
}
.screen-popup .van-calendar__popup .van-button--danger{
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}
.screen-popup .van-calendar__popup .van-calendar__month-mark{
	opacity: 0.5;
}

.screen-popup .van-tree-select__content .van-tabs{
	height: 100%;
}
.screen-popup .van-tree-select__content .van-tabs--line .van-tabs__wrap{
	/* border-bottom: 1px solid var(--slider-line); */
	padding-right: 8px;
	padding-left: 8px;
}
.screen-popup .van-tree-select__content .van-tabs .van-tabs__content{
	height: calc(100% - 44px);
	height: -moz-calc(100% - 44px);
	height: -webkit-calc(100% - 44px);
}
.screen-popup .van-tree-select__content .van-tabs .van-tabs__content .van-tab__pane{
	height: 100%;
	padding-top: 10px;
	overflow: hidden;
}

.screen-popup .van-tree-select__content .van-tabs__nav{
	background-color: transparent;
}
.screen-popup .van-tree-select__content .van-tabs__nav .van-tab{
	color: var(--header-text);
}
.screen-popup .van-tree-select__content .van-tabs__nav .van-tab.van-tab--active{
	color: var(--header-active);
}
.screen-popup .van-tree-select__content .van-cell .num{
	margin-right: 6px;
}
.sort-popup .van-tree-select__content .van-cell::after,
.screen-popup .van-tree-select__content .van-cell::after{
	display: none;
}

.screen-popup .screen-classify-collapse .van-cell{
	background-color: transparent;
	margin-bottom: 6px;
}
.screen-popup .screen-classify-collapse .van-collapse-item.active>.van-cell{
	background-color: var(--bg-poperHover);
	border-radius: 999px;
}
.screen-popup .screen-classify-collapse .van-hairline--top-bottom::after,
.screen-popup .screen-classify-collapse .van-collapse-item--border::after{
	display: none;
}
.screen-popup .screen-classify-collapse .van-collapse-item__content{
	background-color: transparent;
	padding: 0;
	padding-left: 1rem;
}
.screen-popup .screen-classify-collapse .van-cell__value{
	flex: none;
}
.van-calendar__day--middle{
	color: var(--header-active);
}
.van-calendar__day--start{
	border-radius: 16px 0 0 16px;
}
.van-calendar__day--end{
	border-radius: 0 16px 16px 0;
}
.screen-cell-input{
	margin-bottom: 16px;
	border-radius: 8px;
}
.screen-cell-input::after{
	display: none;
}
.screen-cell-input .van-field{
	border-radius: 8px;
}
.screen-cell-input .van-field{
	border-radius: 8px;
}
.library-actionsheet .mint-actionsheet-list{
	max-height: 400px;
	overflow: auto;
}
.pic-logo{
	height: 40px;
	padding: 5px 0;
}
.pic-logo .h-left{
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    color: var(--header-text);
    text-decoration: none;
}
.pic-logo .h-left img{
    max-width: 100%;
	max-height: 100%;
	margin-right: 10px;
}
.pic-container{
	height: 100%;
    width: 100%;
    overflow: hidden;
	
}
.pic-container .pic-container-scroll{
	height: 100%;
    width: 100%;
    overflow: auto;
	position: relative;
	padding-top: 46px;
}
.pic-container .img-container{
	min-height: 100% ;
    position: relative;
	padding: 0 4px;
}
.pic-toolbar{
	position: fixed;
	width: 100%;
	left: 0;
	padding: 0 8%;
	transition: all .3s;
	transition:all .3s;
	-moz-transition:all .3s; /* Firefox 4 */
	-webkit-transition:all .3s; /* Safari and Chrome */
	-o-transition:all .3s; /* Opera */
}
.pic-toolbar.footershow{
	bottom: 3%;
	opacity: 1;
}
.pic-toolbar.footerhide{
	bottom: -2.9375rem;
	opacity: 0;
}
.pic-toolbar .tabbar{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	border-radius: 39px;
	background: var(--bg-poper);
	padding: 0.375rem 0;
	color: var(--header-text);
	/* box-shadow: 0px 0px 5px 1px var(--bg-poperHover); */
}
.pic-toolbar .tab-item{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	text-align: center;
	font-size: 14px;
}
.pic-toolbar .tab-item .icon{
	font-size: var(--font-32);
}
.pic-toolbar .tab-item img{
	border-radius: 50%;
    width: 2.1875rem;
    height: 2.1875rem;
    vertical-align: bottom;
}


#imgContainer .imgitem .imgbox .bottom-img-message{
	text-align: center;
	color: var(--content-text);
	overflow: hidden;
	max-height: 65px;
}
#imgContainer .imgitem .imgbox .bottom-img-message .name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 0.875rem;
    margin-top: 10px;
    width: 100%;
    max-height: 35px;
}
#imgContainer .imgitem .imgbox .bottom-img-message .other {
    font-size: 0.75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 21px;
    padding-top: 5px;
    color: var(--content-textMessage);
}
#imgContainer .imgitem .imgbox .bottom-img-message .other .score{
	color: var(--stars);
}
#imgContainer .imgitem .imgbox .bottom-img-message .other .score.active{
	color: var(--starsActive);
}
#imgContainer .imgitem .imgbox .annotation{
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 14px;
	width: 22px;
	height: 22px;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	background: var(--color-primary);
}
#imgContainer{
	position: relative;
	margin: 0 auto;
}
#imgContainer .imgitem{
	position: absolute;
	/* transition:all .2s; */
}
#imgContainer .imgitem .imgbox {
    padding-left: 4px;
    padding-right: 4px;
}
#imgContainer .imgitem .imgbox .imgbox-border {
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
	min-height: 120px;
	height: 100%;
}
#imgContainer .imgitem .imgbox .imgbox-border.radius{
    border-radius: 18px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black {
    width: 100%;
	height: 100%;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black .bck{
    width: 100%;
	height: 100%;
	display: none;
	background: var(--bg-poper);
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0.7;
}
#imgContainer .imgitem .imgbox .imgbox-border .img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 18px;
}
#imgContainer .imgitem .imgbox .imgbox-border .img.opacity{
    opacity: 0;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black .circular-box{
    display: none;
	position: absolute;
	z-index: 2;
	width: 45px;
	height: 45px;
	border-radius: 50%;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black .circular-box .circular-item{
    width: 45px;
	height: 45px;
	border-radius: 50%;
	color: #333;
	z-index: 100;
	font-size: 21px;
	text-align: center;
	line-height: 45px;
	background: #ffffff;
    position: absolute;
    transition: top .3s ease-in-out,left .3s ease-in-out;
	/* transition: all .3s ease-in-out; */
	top: -22.5px;
	left: -22.5px;
	transform-origin: 0px;
    /* transition-delay: 0.02s; */
}


#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .bck{
	display: block;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .img{
	position: absolute;
	z-index: 2;
	max-width: inherit;
	max-height: inherit;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box{
    display: block;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box .round{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: transparent;
    left: 0px;
    top: 0px;
	border: 3px solid var(--bg-poper);
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box .circular-item-box{
	position: absolute;
	left: -67.5px;
	top: -67.5px;
	border: 90px solid transparent;
}


#imgContainer .imgitem .imgbox .imgbox-border .div-black .circular-box.top .circular-item.first{
	top: -22.5px;
	left: -22.5px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black .circular-box.top .circular-item.two{
    top: 0px;
    left: -80px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black .circular-box.top .circular-item.three{
    top: -22.5px;
    left: -138.5px;
}


#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box .circular-item-box .icon{
	display: block;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top .circular-item.first{
	transform: rotate(0deg);
	top: -80px;
	left: -80px;
	transform-origin: 80px 80px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top .circular-item.two{
    transform: rotate(45deg);
	top: -80px;
	left: -80px;
	transform-origin: 80px 80px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top .circular-item.two .icon{
	transform: rotate(-45deg);
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top .circular-item.three{
	transform: rotate(90deg);
	top: -80px;
	left: -80px;
	transform-origin: 80px 80px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top .circular-item.three .icon{
	transform: rotate(-90deg);
}


#imgContainer .imgitem .imgbox .imgbox-border .div-black .circular-box.top.right .circular-item.first{
	top: -80.5px;
    left: 1px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black .circular-box.top.right .circular-item.two{
	top: -22.5px;
    left: -22.5px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black .circular-box.top.right .circular-item.three{
    top: 0px;
    left: -80px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top.right .circular-item.first{
	transform: rotate(-45deg);
	top: -80px;
	left: -80px;
	transform-origin: 80px 80px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top.right .circular-item.first .icon{
	transform: rotate(45deg);
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top.right .circular-item.two{
    transform: rotate(0deg);
	top: -80px;
	left: -80px;
	transform-origin: 80px 80px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top.right .circular-item.two .icon{
	transform: rotate(0deg);
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top.right .circular-item.three{
	transform: rotate(45deg);
	top: -80px;
	left: -80px;
	transform-origin: 80px 80px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top.right .circular-item.three .icon{
	transform: rotate(-45deg);
}




#imgContainer .imgitem .imgbox .imgbox-border .div-black .circular-box.top.left .circular-item.first{
    top: 0px;
    left: -80px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black .circular-box.top.left .circular-item.two{
	top: -22.5px;
    left: -136.5px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black .circular-box.top.left .circular-item.three{
	left: -160px;
    top: -80px;
}

#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top.left .circular-item.first{
	transform: rotate(45deg);
	top: -80px;
	left: -80px;
	transform-origin: 80px 80px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top.left .circular-item.first .icon{
	transform: rotate(-45deg);
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top.left .circular-item.two{
    transform: rotate(90deg);
	top: -80px;
	left: -80px;
	transform-origin: 80px 80px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top.left .circular-item.two .icon{
    transform: rotate(-90deg);
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top.left .circular-item.three{
	transform: rotate(135deg);
	top: -80px;
	left: -80px;
	transform-origin: 80px 80px;
}
#imgContainer .imgitem .imgbox .imgbox-border .div-black.fixed .circular-box.top.left .circular-item.three .icon{
	transform: rotate(-135deg);
}

@media screen and (min-width: 768px) {
	.#imgContainer .imgitem {
		width: 33.3333%;
	}
}

@media screen and (min-width: 992px) {
	.#imgContainer .imgitem {
		width: 25%;
	}
}

@media screen and (min-width: 1024px) {
	.#imgContainer .imgitem {
		width: 20%;
	}
}
.van-nav-bar .van-icon{
	color: var(--content-textHover);
}
.van-nav-bar .van-nav-bar__title{
	color: var(--content-textHover);
}








.about-popup,
.my-popup{
	height: 100%;
	width: 100%;
	background: var(--bg-content);
	color: var(--content-textHover);
	overflow: hidden;
	padding-top: 46px;
}
.about-popup .van-nav-bar,
.my-popup .van-nav-bar{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.about-popup .scroll-box,
.my-popup .scroll-box{
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-top: 0.9375rem;
}
.my-popup .scroll-box .van-cell-group{
	background: transparent;
}
.my-popup .scroll-box .van-cell {
	background: transparent;
}
.my-popup .scroll-box .van-cell::after{
	display: none;
}
.my-popup .scroll-box .van-cell .van-cell__right-icon{
	color: var(--header-text);
}

.about-popup .aboutlogo{
	text-align: center;
	padding-top: 3.125rem;
	padding-bottom: 1.875rem;
}
.about-popup .aboutmessage{
	padding: 0 2.1875rem;
}
.about-popup .aboutmessage .aboutlist{
	margin-bottom: 1.25rem;
	overflow: hidden;
	font-size: 1rem;
}
.about-popup .aboutmessage .aboutlist .title{
	float: left;
}
.about-popup .aboutmessage .aboutlist .address{
    color: var(--color-primary);
    font-size: 1rem;
    vertical-align: sub;
}
@media screen and (min-width: 768px) {
	.about-popup .aboutmessage{
		padding: 0 6.25rem;
	}
}