.notScreen{
	width: 100%;
	height: 100%;
	position: relative;
}
.notScreen>div{
	height: 80px;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	font-size: var(--font-14);
	color: var(--header-text);
}
.notScreen>div img{
	width: 3.125rem;
	height: 3.125rem;
}
.sort-popup .van-popup__close-icon--top-right,
.screen-popup .van-popup__close-icon--top-right {
    top: 10px;
    right: 10px;
}
/* .sort-popup .van-tree-select{
	height: calc(100% - 41px) !important;
	height: -moz-calc(100% - 41px) !important;
	height: -webkit-calc(100% - 41px) !important;
} */
.screen-popup .van-tree-select{
}
.screen-popup .van-tree-select .van-sidebar{
	width: 6rem;
	-webkit-box-flex: initial;
	-webkit-flex: initial;
	flex: initial;
}
.sort-popup .van-tree-select__content,
.screen-popup .van-tree-select__content{
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: transparent;
}
.van-popup .van-tree-select__content .screen-item-box{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-top: 56px;
}
.van-popup .van-tree-select__content .screen-item .screen-item-option-box{
	padding: 0px 8px;
}
.van-popup .van-tree-select__content .screen-item .screen-item-option-box .screen-item-option{
	padding: 10px 16px;
	margin-bottom: 8px;
	border-radius: 8px;
}
.van-popup .van-tree-select__content .screen-item .screen-item-option-box .screen-item-option.active{
	background: var(--bg-poperHover);
}
.screen-popup .van-tree-select__content .screen-item{
	height: 100%;
	overflow: auto;
	padding: 0px 10px;
}
.screen-popup .van-tree-select__content .screen-item .swip-row{
	border: 1px solid var(--border-color-base);
	border-radius: 18px;
	overflow: hidden;
}
.screen-popup .van-tree-select__content .screen-item .swip-row .swip{
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: var(--bg-input);
	color: var(--header-text);
}
.screen-popup .van-tree-select__content .screen-item .swip-row .swip.active{
	background: var(--color-primary);
	color: #FFFFFF;
}
.van-popup .van-tree-select__content .screen-item .van-cell-group .van-cell.van-cell-tag{
	margin-bottom: 6px;
	border-radius: 999px;
}
.van-popup .van-tree-select__content .screen-item .van-cell-group .van-cell.van-cell-tag.active{
	background-color: var(--bg-poperHover);
}
.sort-popup .van-tree-select__content .screen-item .van-cell-group,
.screen-popup .van-tree-select__content .screen-item .van-cell-group{
	background-color: transparent;
}
.sort-popup .van-tree-select__content .screen-item .van-cell-group .van-cell,
.screen-popup .van-tree-select__content .screen-item .van-cell-group .van-cell{
	background-color: transparent;
}

.van-calendar__day--end, .van-calendar__day--multiple-middle, .van-calendar__day--multiple-selected, .van-calendar__day--start, .van-calendar__day--start-end{
	background-color: var(--color-primary);
}
.screen-popup .van-hairline--top-bottom::after, .screen-popup .van-hairline-unset--top-bottom::after {
    border-width: 0;
}
.sort-popup .van-hairline--top-bottom::after, .sort-popup .van-hairline-unset--top-bottom::after {
    border-width: 0;
}
.screen-popup .van-tree-select__content .screen-item .color-box .quick{
	overflow: hidden;
	/* margin-left: -10px; */
}
.screen-popup .van-tree-select__content .screen-item .color-box .quick .quick-list-box{
	width: 20%;
	margin-bottom: 0.1875rem;
	padding: 0 0.1875rem;
	display: inline-block;
	
}
.screen-popup .van-tree-select__content .screen-item .color-box .quick .quick-list{
/* 	float: left;
	height: calc(20% / 2);
	width: 20%;
   height: 2.5rem;
    width: 2.5rem;
    z-index: 1;
    border-radius: 50%;
    margin-bottom: 0.625rem;
    margin-left: 0.625rem;
	border: 1px solid transparent;
	position: relative; */
	height: 0;
	padding: 25% 0;
	position: relative;
	border-radius: 8px;
}
.screen-popup .van-tree-select__content .screen-item .color-box .quick .quick-list .van-icon{
	position: absolute;
	color: #FFFFFF;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@media screen and (max-width: 768px) {
	.screen-popup .van-tree-select__content .screen-item .color-box .quick .quick-list .van-icon{
		font-size: 18px;
		width: 18px;
		height: 18px;
	}
}
@media screen and (min-width: 768px) {
	.screen-popup .van-tree-select__content .screen-item .color-box .quick .quick-list .van-icon{
		font-size: 30px;
		width: 30px;
		height: 30px;
	}
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-input{
	position: relative;
	margin-bottom: 0.9375rem;
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-input .van-field{
	/* padding: 0; */
	/* height: 35px; */
	padding-left: 35px;
	/* height: 35px; */
	border-radius: 8px;
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-input .color-show{
	position: absolute;
	width: 18px;
	height: 18px;
	z-index: 1;
	border-radius: 6px;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
	left: 8px;
	border: 1px solid transparent;
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-input .color-show.border{
	border: 1px solid var(--border-color-base);
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-input .van-field .van-field__button{
	padding-left: 8px;
	line-height: 35px;
	padding-right: 8px;
	border-left: 1px solid var(--border-color-base);
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-input .van-field .van-field__button img{
	vertical-align: sub;
	width: 16px;
	height: 16px;
}
.screen-popup .van-tree-select__content .screen-item .color-box .color-slider{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	padding: 15px 0;
}
.screen-popup .van-calendar__popup .van-button--danger{
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}
.screen-popup .van-calendar__popup .van-calendar__month-mark{
	opacity: 0.5;
}

.screen-popup .van-tree-select__content .van-tabs{
	height: 100%;
}
.screen-popup .van-tree-select__content .van-tabs--line .van-tabs__wrap{
	/* border-bottom: 1px solid var(--slider-line); */
	padding-right: 8px;
	padding-left: 8px;
}
.screen-popup .van-tree-select__content .van-tabs .van-tabs__content{
	height: calc(100% - 44px);
	height: -moz-calc(100% - 44px);
	height: -webkit-calc(100% - 44px);
}
.screen-popup .van-tree-select__content .van-tabs .van-tabs__content .van-tab__pane{
	height: 100%;
	padding-top: 10px;
	overflow: hidden;
}

.screen-popup .van-tree-select__content .van-tabs__nav{
	background-color: transparent;
}
.screen-popup .van-tree-select__content .van-tabs__nav .van-tab{
	color: var(--header-text);
}
.screen-popup .van-tree-select__content .van-tabs__nav .van-tab.van-tab--active{
	color: var(--header-active);
}
.screen-popup .van-tree-select__content .van-cell .num{
	margin-right: 6px;
}
.screen-popup .van-search{
	padding: 0px 6px;
}
.screen-popup .van-search .van-field{
	border:0;
}
.sort-popup .van-tree-select__content .van-cell::after,
.screen-popup .van-tree-select__content .van-cell::after{
	display: none;
}

.screen-classify-collapse .van-cell{
	background-color: transparent;
	margin-bottom: 6px;
}
.screen-classify-collapse .van-collapse-item.active>.van-cell{
	background-color: var(--bg-poperHover);
	border-radius: 999px;
}
.screen-classify-collapse .van-cell::after,
.screen-classify-collapse .van-hairline--top-bottom::after,
.screen-classify-collapse .van-collapse-item--border::after{
	display: none;
}
.screen-classify-collapse .van-collapse-item__content{
	background-color: transparent;
	padding: 0;
	padding-left: 1rem;
}
.screen-classify-collapse .van-cell__value{
	flex: none;
}
.van-calendar__day--middle{
	color: var(--header-active);
}
.van-calendar__day--start{
	border-radius: 16px 0 0 16px;
}
.van-calendar__day--end{
	border-radius: 0 16px 16px 0;
}
.screen-cell-input{
	margin-bottom: 16px;
	border-radius: 8px;
}
.screen-cell-input::after{
	display: none;
}
.screen-cell-input .van-field{
	border-radius: 8px;
}