<template v-if="RightType == 'file'">
	<!--{template libraryview/pc/components/right/file/temp}-->
</template>
<template v-else-if="RightType=='folder'">
	<!--{template libraryview/pc/components/right/folder/temp}-->
</template>
<template v-else>
	<!--{template libraryview/pc/components/right/other/temp}-->
</template>
		
<div 
	v-show="HeaderRightBtnShow.column.indexOf('right')>-1" 
	@mousedown.prevent="RightdragControllerDiv"
	:style="{position: 'fixed',height: '100%',width: '4px',top: '0',right: RightWidth-2+'px',cursor: 'col-resize','z-index': 100}"></div>