<div class="Kscreen">
	<div class="txtScroll-box">
		<div id="txtScroll" class="txtScroll">
			<div v-if="keyword" class="txtKeyword list">{{keyword}}</div>
			<template v-for="sitem in ScreenData">
				<template v-if="sitem.key=='color'">
					<div class="txtScrent list" v-if="colors.color"><span class="color" :style="{background: colors.color}"></span><span class="delBtn el-icon-close" @click.stop="handleClickDelete('color')"></span></div>
				</template>
				<template v-else-if="sitem.key=='classify'">
					<div class="txtScrent list" v-if="classify.text">分类：{{classify.text}}<span class="delBtn el-icon-close" @click.stop="handleClickDelete('classify')"></span></div>
				</template>
				<template v-else-if="sitem.key=='link'">
					<div class="txtScrent list" v-if="link.link=='1'&&link.val">链接：{{link.val}}<span class="delBtn el-icon-close" @click.stop="handleClickDelete('link')"></span></div>
					<div class="txtScrent list" v-else-if="link.link=='1'">链接：有<span class="delBtn el-icon-close" @click.stop="handleClickDelete('link')"></span></div>
					<div class="txtScrent list" v-else-if="link.link=='0'">链接：没有<span class="delBtn el-icon-close" @click.stop="handleClickDelete('link')"></span></div>
				</template>
				<template v-else-if="sitem.key=='desc'">
					<div class="txtScrent list" v-if="desc.desc=='1'&&desc.val">注释：{{desc.val}}<span class="delBtn el-icon-close" @click.stop="handleClickDelete('desc')"></span></div>
					<div class="txtScrent list" v-else-if="desc.desc=='1'">注释：有<span class="delBtn el-icon-close" @click.stop="handleClickDelete('desc')"></span></div>
					<div class="txtScrent list" v-else-if="desc.desc=='0'">注释：没有<span class="delBtn el-icon-close" @click.stop="handleClickDelete('desc')"></span></div>
				</template>
				<template v-else-if="sitem.key=='duration'">
					<div class="txtScrent list" v-if="GetParams.duration">
						<template v-if="duration.start&&duration.end">{{duration.start}}≤时长≤{{duration.end}}</template>
						<template v-else-if="duration.start">时长≥{{duration.start}}</template>
						<template v-else="duration.end">时长≤{{duration.end}}</template>
						<template v-if="duration.dunit=='s'">秒</template><template v-else>分</template>
						<span class="delBtn el-icon-close" @click.stop="handleClickDelete('duration')"></span>
					</div>
				</template>
				<template v-else-if="sitem.key=='size'">
					<div class="txtScrent list"  v-if="GetParams.wsize||GetParams.hsize">
						<!-- 尺寸： -->
						<template v-if="wsize.start&&wsize.end">{{wsize.start}}≤宽≤{{wsize.end}}</template>
						<template v-else-if="wsize.start">宽≥{{wsize.start}}</template>
						<template v-else-if="wsize.end">宽≤{{wsize.end}}</template>
						<template v-if="GetParams.wsize && GetParams.hsize">,</template>
						<template v-if="hsize.start&&hsize.end">{{hsize.start}}≤高≤{{hsize.end}}</template>
						<template v-else-if="hsize.start">高≥{{hsize.start}}</template>
						<template v-else-if="hsize.end">高≤{{hsize.end}}</template>
						<span class="delBtn el-icon-close" @click.stop="handleClickDelete('csize')"></span>
					</div>
				</template>
				<template v-else-if="sitem.key=='ext'">
					<div class="txtScrent list"  v-if="GetParams.ext">
						<!-- 类型： -->
						{{GetParams.ext}}
						<span class="delBtn el-icon-close" @click.stop="handleClickDelete('ext')"></span>
					</div>
				</template>
				<template v-else-if="sitem.key=='shape'">
					<div class="txtScrent list" v-if="GetParams.shape||GetParams.shapesize">
						<!-- 形状： -->
						{{shape.txt}}<template v-if="shape.txt&&GetParams.shapesize">,</template>{{GetParams.shapesize}}
						<span class="delBtn el-icon-close" @click.stop="handleClickDelete('shape')"></span>
					</div>
				</template>
				<template v-else-if="sitem.key=='grade'">
					<div class="txtScrent list" v-if="GetParams.grade">
						评分：{{GetParams.grade}}<span class="delBtn el-icon-close" @click.stop="handleClickDelete('grade')"></span>
					</div>
				</template>
				<template v-else-if="sitem.key=='btime'">
					<div class="txtScrent list" v-if="GetParams.btime" style="max-width:222px;">
						添加时间：{{GetParams.btime}}
						<span class="delBtn el-icon-close" @click.stop="handleClickDelete('btime')"></span>
					</div>
				</template>
				<template v-else-if="sitem.key=='dateline'">
					<div class="txtScrent list" v-if="GetParams.dateline" style="max-width:222px;">
						修改时间：{{GetParams.dateline}}
						<span class="delBtn el-icon-close" @click.stop="handleClickDelete('dateline')"></span>
					</div>
				</template>
				<template v-else-if="sitem.key=='mtime'">
					<div class="txtScrent list" v-if="GetParams.mtime" style="max-width:222px;">
						创建时间：{{GetParams.mtime}}
						<span class="delBtn el-icon-close" @click.stop="handleClickDelete('mtime')"></span>
					</div>
				</template>
				<template v-else-if="sitem.key=='tag'">
					<template v-if="sitem.showtype">
						<template v-for="bitem in ParamsTagData">
							<div class="txtScrent list" v-if="modelParamsTag[bitem.cid].text">
								{{bitem.catname}}：{{modelParamsTag[bitem.cid].text}}
								<span class="delBtn el-icon-close" @click.stop="handleClickDelete('grouptag',bitem.cid)"></span>
							</div>
						</template>
					</template>
					<template v-else>
						<div class="txtScrent list" v-if="tagData.checkedstxt">
							标签：{{tagData.checkedstxt}}
							<span class="delBtn el-icon-close" @click.stop="handleClickDelete('tag')"></span>
						</div>
					</template>
					
				</template>
			</template>
			

		</div>
	</div>
	<div class="arrow-left el-icon-arrow-left arrow" @click.stop="handleSearchScreenList('left')"></div>
	<div class="arrow-right el-icon-arrow-right arrow" @click.stop="handleSearchScreenList('right')"></div>
		<div class="arrow-close el-icon-circle-close arrow" @click.stop="handleClickDelete('empty')"></div>
	
</div>