<el-scrollbar>
	<div style="padding: 8px 18px;">
		<div class="marginTop">
			<template v-if="RightType=='notclassify'">
				<el-input
					readonly
					model-value="{lang unclassify}"></el-input>
			</template>
			<template v-else-if="RightType=='nottag'">
				<el-input
					readonly
					model-value="{lang no_tag}"></el-input>
			</template>
			<template v-else-if="RightType=='recycle'">
				<el-input
					readonly
					model-value="{lang recycle}"></el-input>
			</template>
			<template v-else>
				<el-input
					readonly
					model-value="{lang all}"></el-input>
			</template>
		</div>
		
		
		<div class="basic-file marginTop">
			<p class="marginTop" style="font-size: var(--el-font-size-base);font-weight: 700;color: var(--el-text-color-regular);">{lang basic_message}</p>
			<div class="marginTop">
				<el-row class="single" :gutter="12">
					<el-col :span="8">{lang filenum}</el-col>
					<el-col :span="16" class="message">{{RightData.foldenum}}</el-col>
				</el-row>
				<el-row class="single" :gutter="12">
					<el-col :span="8">{lang filesize}</el-col>
					<el-col :span="16" class="message">{{RightData.foldersize}}</el-col>
				</el-row>
			</div>
			<div class="marginTop" v-if="LeftCurrenType == 'recycle' && $_G['adminid']==1 && ImageDataParam.data && ImageDataParam.data.length">
			 	<el-button type="danger" :disabled="recycleEmptying" style="width:100%;display:block" @click="emptyRecycle">
                    {lang empty_recycle}</el-button>
			</div>
		</div>
	</div>
</el-scrollbar>
<!--{template librarylist/pc/components/right/Aikeys}-->