<div v-if="MainStyle[item.type]">
    <el-text>样式：</el-text>
    <el-select v-model="item.style.style" style="width: 130px;margin-right: 12px;">
        <el-option v-for="fitem in MainStyle[item.type]" :key="fitem.value" :label="fitem.title" :value="fitem.value"></el-option>
    </el-select>
    <template v-if="MainStyle[item.type][item.style.style] && MainStyle[item.type][item.style.style].size && MainStyle[item.type][item.style.style]['size'].length">
        <el-text>尺寸：</el-text>
        <el-select v-if="MainStyle[item.type] && MainStyle[item.type][item.style.style]" v-model="item.style.size" style="width: 130px;">
            <el-option v-for="fitem in MainStyle[item.type][item.style.style]['size']" :label="fitem.title" :value="fitem.value"></el-option>
        </el-select>
    </template>
    
</div>