.page-content {
  padding: 0 var(--el-main-padding);
  position: relative;
}

.tag-group-box .tag-group {
  padding-bottom: var(--el-main-padding);
  margin-right: 20px;
  margin-bottom: 10px;
}
.tag-group-box .tag-group .el-tag {
  margin-bottom: 10px;
  cursor: default;
}
.tag-group-box .title {
  background: var(--el-bg-color-page);
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--el-main-padding) 0;
}
.tag-group-box .title .num {
  color: var(--el-text-color-placeholder);
  font-size: var(--el-font-size-base);
}

#TagGroupBox .el-menu-item .el-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#WordList_box {
  position: fixed;
  right: 10px;
  top: 0;
  width: 30px;
  height: calc(100% - 60px);
  top: 60px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#WordList_box .WordList {
  text-align: center;
  width: 100%;
}
#WordList_box .WordList li {
  font-size: 14px;
  cursor: pointer;
  color: var(--el-text-color-regular);
  height: 22px;
  line-height: 22px;
}