.user-container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}
.user-container .header {
  overflow: hidden;
}
.user-container .header .input-box {
  float: left;
  max-width: 260px;
}
.user-container .header .el-button {
  float: right;
}
.user-container .content {
  color: var(--content-text);
}
.user-container .content .member-list-item-detail {
  overflow: hidden;
  line-height: 45px;
  padding: 0 16px;
  margin-bottom: 8px;
}
.user-container .content .member-list-item-detail:hover {
  background-color: var(--bg-poperHover);
}
.user-container .content .member-list-item-detail .img {
  float: left;
}
.user-container .content .member-list-item-detail .img .img-circle {
  vertical-align: middle;
}
.user-container .content .member-list-item-detail .name {
  font-size: 16px;
  margin: 0 6px;
  font-weight: 700;
}
.user-container .content .member-list-item-detail .operation {
  float: right;
  width: 165px;
}
.user-container .content .member-list-item-detail .operation .el-dropdown {
  width: 100%;
}
.user-container .content .member-list-item-detail .operation .el-button, .user-container .content .member-list-item-detail .operation .el-tag {
  width: 100%;
  text-align: center;
}

.addcollection-dialog .el-checkbox {
  width: 100%;
  overflow: hidden;
  height: 50px;
  margin: 0;
  display: block;
}
.addcollection-dialog .el-checkbox .el-checkbox__input {
  float: right;
  line-height: 50px;
  display: block;
}
.addcollection-dialog .el-checkbox .el-checkbox__label {
  float: left;
  line-height: 50px;
  padding-left: 0;
}
.addcollection-dialog .el-checkbox .el-checkbox__label .img-circle {
  width: 32px;
  height: 32px;
  margin-top: 9px;
  vertical-align: top;
  margin-right: 6px;
}
.addcollection-dialog .el-checkbox .el-checkbox__label .Topcarousel {
  width: 32px;
  height: 32px;
  margin-top: 9px;
  margin-right: 6px;
  color: #FFFFFF;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  display: inline-block;
  border-radius: 50px;
}