<van-popup 
	v-model="InformationPopup" 
	class="detail-popup-message"
	:class="showdata[rid] && !showdata[rid].data.footer?'noPadding':''"
	position="right" 
	:overlay="false" 
	get-container="#DetailPopup">
	<van-nav-bar class="header-top" title="详情信息" left-arrow @click-left="InformationPopup=false"></van-nav-bar>
	<div style="position: relative;height: 100%;background: var(--bg-content);padding-top: 46px;" v-cloak>
		
		<div class="DetailPopup-content" style="padding: 0 16px;">
<!-- 			<template v-if="ParamDetail.messageloading">
				<van-loading class="custom-load" size="24px" type="spinner" color="var(--header-text)" vertical>加载中...</van-loading>
			</template>
			<template v-else> -->
				<div class="name">{{showdata[rid].data.name}}.{{showdata[rid].data.ext}}</div>
				<div class="block" v-if="showdata[rid].data.colors && showdata[rid].data.colors.length">
					<div class="title">颜色</div>
					<div class="block-item colors">
						<div class="colors" v-for="item in showdata[rid].data.colors" @click="DetailMessageSearch('color',item)">
							<div :style="{background: '#'+item}"></div>
						</div>
					</div>
				</div>
				<div class="block" v-if="showdata[rid].data.tag && showdata[rid].data.tag.length">
					<div class="title">标签</div>
					<div class="block-item tag">
						<div class="tag" v-for="item in showdata[rid].data.tag" @click="DetailMessageSearch('tag',item.key)">{{item.val}}</div>
					</div>
				</div>
				<div class="block" v-if="showdata[rid].data.link">
					<div class="title">链接</div>
					<div class="block-item link">
						<span @click="DetailMessageSearch('link',showdata[rid].data.link)">{{showdata[rid].data.link}}</span>
						<i class="ri-file-copy-line" @click="DetailMessageSearch('copy',showdata[rid].data.link)"></i>
					</div>
				</div>
				<div class="block" v-if="showdata[rid].data.realfianllypath">
					<div class="title">固定地址</div>
					<div class="block-item link">
						<span @click="DetailMessageSearch('link',showdata[rid].data.realfianllypath)">{{showdata[rid].data.realfianllypath}}</span>
						<i class="ri-file-copy-line" @click="DetailMessageSearch('copy',showdata[rid].data.realfianllypath)"></i>
					</div>
				</div>
				<div class="block" v-if="showdata[rid].data.foldernames && showdata[rid].data.foldernames.length">
					<div class="title">分类</div>
					<div class="block-item tag">
						<div class="tag" v-for="item in showdata[rid].data.foldernames" @click="DetailMessageSearch('classify',item.key)">{{item.val}}</div>
					</div>
				</div>
				<div class="block">
					<div class="title">基本信息</div>
					<div class="block-item">
						<van-row class="basic">
							<van-col span="12">
								<div class="label">评分</div>
							</van-col>
							<van-col span="12">
								<div class="record">
									<van-icon v-for="item in showdata[rid].data.grade" name="star" class="star active"></van-icon><van-icon v-for="item in showdata[rid].data.fgrade" name="star" class="star"></van-icon>
								</div>
							</van-col>
						</van-row>
						<van-row class="basic">
							<van-col span="12">
								<div class="label">尺寸</div>
							</van-col>
							<van-col span="12">
								<div class="record">{{showdata[rid].data.width}}×{{showdata[rid].data.height}}</div>
							</van-col>
						</van-row>
						<van-row class="basic">
							<van-col span="12">
								<div class="label">文件大小</div>
							</van-col>
							<van-col span="12">
								<div class="record">{{showdata[rid].data.fsize}}</div>
							</van-col>
						</van-row>
						<van-row class="basic">
							<van-col span="12">
								<div class="label">类型</div>
							</van-col>
							<van-col span="12">
								<div class="record">{{showdata[rid].data.ext}}</div>
							</van-col>
						</van-row>
						<van-row class="basic">
							<van-col span="12">
								<div class="label">创建时间</div>
							</van-col>
							<van-col span="12">
								<div class="record">{{showdata[rid].data.mtime}}</div>
							</van-col>
						</van-row>
						<van-row class="basic">
							<van-col span="12">
								<div class="label">添加时间</div>
							</van-col>
							<van-col span="12">
								<div class="record">{{showdata[rid].data.btime}}</div>
							</van-col>
						</van-row>
						<van-row class="basic">
							<van-col span="12">
								<div class="label">修改时间</div>
							</van-col>
							<van-col span="12">
								<div class="record">{{showdata[rid].data.dateline}}</div>
							</van-col>
						</van-row>
					</div>
				</div>
			<!-- </template> -->
		</div>
		
	</div>
</van-popup>
<script type="text/javascript">
	var DetailMessageJs = {
		

	}
</script>