<div class="container" style="position: relative;margin-top: 10px;">
    <Image-Layout
        ref="RefImageLayoutsearch"
        :props="{click:true}"
        layout="imageList"
        @returnparam="Imagereturnparam"
        :urlparam="bannerData.ImageLayout.urlparam"
        @click="ImageDetails"
        :showmessage="bannerData.ImageLayout.showmessage"
        :url="bannerData.ImageLayout.url"
        :scrollref="scrollref"
        :parentbox="bannerData.ImageLayout.parentbox">
    </Image-Layout>
</div>