<div class="h-left">
    <el-text tag="b" size="large" style="color:var(--el-text-color-primary)">站点设置</el-text>
</div>
<div class="h-center"></div>
<div class="h-right"> 
    <comavatar
        :level="parseInt($_G[pichomelevel])"
        iscollect="<!--{if defined('PICHOME_LIENCE') && (!$_G[config][pichomeclosecollect] || $_G[adminid])}--><!--{/if}-->"
        :adminid="parseInt($_G[adminid])"
        PICHOME_LIENCE="<!--{if defined('PICHOME_LIENCE')}--><!--{/if}-->"
        :uid="parseInt($_G[uid])"
        upgrade="<!--{if $_G['setting']['upgrade']}--><!--{/if}-->"
        version="$_G[setting][version]"
        formhash="{FORMHASH}">
        <el-avatar size="40">
            {eval echo avatar_block($_G[uid]);}
        </el-avatar>
    </comavatar>
    
</div>
